*{
    padding: 0;
    margin: 0;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: darkgreen;
    width: 100%;
}

form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}

form >  input {
    margin: 12px 0px;
    height: 30px;
    width: 300px;
}

.message{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 141, 141);
    width: 300px;
    height: 45px;
    color: blueviolet;
    border: 2px solid  rgb(105, 236, 138);
}

.off{
    display: none;
}